* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', serif;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

body {
  background: #add8e6;
}

.container {
  width: 780px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 64px;
  margin: 25px;
  text-transform: uppercase;
}

.cards-container {
  height: 660px;
}

footer p {
  color: #000;
  font-size: 26px;
  margin: 40px 0 20px;
}

.card-row {
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.card {
  background: #fff;
  background-image: url(../img/pattern.png);
  background-size: 90%;
  width: 180px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  position: absolute;
}

.c-one {
  left: 0;
}

.c-two {
  left: 200px;
}

.c-three {
  right: 200px;
}

.c-four {
  right: 0;
}
